*.aux
*blx.bib
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.bak
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.run.xml
*.bcf
*.thm
*.idx
*.ilg
*.ind
*.ps
*.eps
*.brf
*.cut
*.loa
*.lol
*.lox
*.lsg
*.lbf
*.cb
*.cb2
*.pyg
*.synctex
*.synctex(busy)
*.synctex.gz(busy)
*.fdb_latexmk
*.fls
*.pdfsync
*.dpth
*.auxlock
*.tmp
*.swp
*.DS_Store
